<div class="col-md-6">
    <div class="container-fluid">

        <ui-select multiple ng-model="ctrl.selectedReservas" ng-disabled="disabled" 
                   sortable="false" close-on-select="false">
            <ui-select-match placeholder="Select reserva...">{{$item.name}}</ui-select-match>
            <ui-select-choices repeat="reserva in allReservas">
                <div ng-bind-html="reserva.name"></div>
            </ui-select-choices>
        </ui-select>



        <hr/>

        <div class="form-group col-md-6">
            <button type="button" ui-sref='reservaLibroList'>Cancel</button>
            <button type="button" ng-click='ctrl.updateReservaLibro(ctrl.selectedReservas)' >Save</button>   
        </div>
        
    </div>

</div>