<div class="col-md-12">
    <div class="container-fluid">
        <button class="btn btn-default" ui-sref="createReserva">Nueva Reserva</button>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>    
  
                    <th>idUsuario</th>
                    
                    <th>idRecurso</th>
                    
                    <th>fechaSolicitud</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in selectedReservas">
                    <td id="{{$index}}-name">{{record.name}}</td>  
                    <td>
                        <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteReservaVideo(record)"><span class="glyphicon glyphicon-minus"></span>Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
