<div class="container-fluid" >
   <button class="btn btn-default" ui-sref="alquilerCreate">Crear nuevo alquiler</button>
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Usuario</th>   
                <th>Fecha alquiler</th>
                <th>Fecha devuelta</th> 

                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-idUsuario">{{record.idUsuario}}</td>
                <td id="{{$index}}-fechaAlquiler">{{record.fechaAlquiler}}</td>
                 <td id="{{$index}}-fechaDevolucion">{{record.fechaDevolucion}}</td>

                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="alquilerEdit({alquilerId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr>
        </tbody>
    </table>
</div>