<div class="container-fluid" >
   
    <table class="table table-striped" class="col-md-4">
        <thead>
            <tr>
                <th style="color:white;">Nombre del libro</th>    
                <th style="color:white;">Id del libro</th>
                <th style="color:white;">Tipo de libro</th>
                <th style="color:white;">Autor del libro</th>
                <th style="color:white;">Editorial</th>
                <th style="color:white;">Edición</th>
                <th style="color:white;">Acciones</th>
            </tr>
        </thead>
        <tbody>
           <tr ng-repeat="record in records">
                <td id="{{$index}}-nombre">{{record.nombre}}</td>
                <td id="{{$index}}-id">{{record.id}}</td>
                <td id="{{$index}}-tipo">{{record.tipo}}</td>
                <td id="{{$index}}-autor">{{record.autor}}</td>
                <td id="{{$index}}-editorial">{{record.editorial}}</td>
                <td id="{{$index}}-edicion">{{record.edicion}}</td>
                <td>
                    <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ui-sref="libroEdit({libroId: record.id})"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                    <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>

                </td>
            </tr> 
        </tbody>
    </table>
</div>