<html>

<head>

 <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/restangular/dist/restangular.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
 <script src = "src/modules/usuario/usuario.mod.js"></script>
   
 
</head>
<body ng-controller="user">
  <div>
  <h2>Usuario</h2>
           
  <form ng-submit="$scope.agregar(actual)">
    <table class="table ">
     <thead>
     <tr>
        <th>Id</th>
        <td>
          <input type="text"  class="input-small" id= "id" ng-model=actual.id>
        </td>
        
      </tr>
        <tr>
        <th>Nombre</th>
        <td>
          <input type="text"  class="input-small" id= "nombre" ng-model = "actual.nombre">
        </td>
        
      </tr>
        <tr>
        <th>Apellido</th>
        <td>
          <input type="text"  class="input-small" id= "apellido" ng-model = "actual.apellido">
        </td>
       
      </tr>
        <tr>
        <th>Direccion</th>
        <td>
          <input type="text"  class="input-small" id= "direccion" ng-model ="actual.direccion">
        </td>
        
      </tr>
      <tr>
       <th>Fecha</th>
       <td>
          <input type="text"  class="input-small" id= "fecha" ng-model = "actual.fecha">
        </td>
        </tr>
          </thead>
          <tbody>
      <tr >
        
       
        <td></td>
        <td><button ng-click="$scope.borrar()">delete last</button></td>
        
      </tr>
      <tr>
        <td>
        <button >add item</button>
        </td>
        <td></td>
        <td>Total usuarios registrados:</td>
        <td id = 'total'></td>
		<td></td>
      </tr>
      <tbody id = "elements">
    </table>
  </div>
</form>
</body>

</html>